<%- include('../layouts/admin/header.ejs') -%>

  <body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
      <div class="aside-top">
        <a class="brand-wrap">
          <img style="width: 50px;" src="/img/logoleo.jpg" alt="Nest Dashboard" />
        </a>
        <div>
          <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
          </button>
        </div>
      </div>
      <nav>
        <ul class="menu-aside">
          <li class="menu-item">
            <a class="menu-link" href="/admin/adminDashboard">
              <i class="icon material-icons md-home"></i>
              <span class="text">Dashboard</span>
            </a>
          </li>
          <li class="menu-item active">
            <a class="menu-link" href="/admin/products">
              <i class="icon material-icons md-shopping_bag"></i>
              <span class="text">Products</span>
            </a>
          </li>

          <li class="menu-item">
            <a class="menu-link" href="/admin/ums">
              <i class="icon material-icons md-person"></i>
              <span class="text">user managmnet</span>
            </a>
          </li>
          <li class="menu-item ">
            <a class="menu-link" href="/admin/category">
              <i class="icon material-icons md-shopping_bag"></i>
              <span class="text">Categories</span>
            </a>

          </li>
          <li class="menu-item ">
            <a class="menu-link" href="/admin/orderDetails">
              <i class="icon material-icons md-shopping_bag"></i>
              <span class="text">Orders</span>
            </a>

          </li>
          <li class="menu-item ">
            <a class="menu-link" href="/admin/coupons"> <i class="icon material-icons md-monetization_on"></i>
              <span class="text">Coupons</span>
            </a>

          </li>
          <li class="menu-item ">
            <a class="menu-link" href="/admin/banners"> <i class="icon material-icons md-monetization_on"></i>
              <span class="text">Banners</span>
            </a>
          </li>
        </ul>
        <hr />
        <br />
        <br />
      </nav>

    </aside>
    <section class="d-flex justify-content-center align-items-center p-4">
      <div class="col col-md-8 col-lg-6 col-xxl-5">

        <h1 class="text-center fw-bold mb-5 fs-2">Add New Product</h1>

        <!-- Your complete product addition form here -->
        <form action="/admin/addproducts" method="post" enctype="multipart/form-data" onsubmit="return validate()">
          <div class="form-group">
            <% if(messages.existsmessage){%>
              <div class="text-alert alert-danger">
                <%= messages.existsmessage %>

              </div>
              <%}%>
                <label for="product_title">Product Name</label>
                <input type="text" class="form-control" id="product_title" name="name" placeholder="Type here">
          </div>
          <div id="pronameErr" class="forml" style="color: red;"></div>


          <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="number" class="form-control" id="quantity" name="quantity" placeholder="Type here">
            <div id="quantityErr" class="forml" style="color: red;"></div>
          </div>


          <div class="form-group">
            <label>Category</label>
            <select class="form-select" name="category" id="category">
              <% for(let i=0 ; i < categories.length;i++){%>
                <option value="<%= categories[i]._id %>">
                  <%= categories[i].name %>
                </option>
                <%}%>
                  <div id="cateErr" class="forml" style="color: red;"></div>
            </select>


          </div>
          <div class="row " style="margin-left: 1rem; margin-bottom: 1rem;">
            <label>Add size</label>
            <div class="form-check col-lg-2">
              <input class="form-check-input" name="sizes" type="checkbox" value="S" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                S
              </label>
            </div>
            <div class="form-check col-lg-2">
              <input class="form-check-input" name="sizes" type="checkbox" value="M" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                M
              </label>
            </div>
            <div class="form-check col-lg-2">
              <input class="form-check-input" name="sizes" type="checkbox" value="L" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                L
              </label>
            </div>
            <div class="form-check col-lg-2">
              <input class="form-check-input" name="sizes" type="checkbox" value="XL" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                XL
              </label>
            </div>
            <div class="form-check col-lg-2">
              <input class="form-check-input" name="sizes" type="checkbox" value="XXL" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                XXL
              </label>
            </div>
          </div>

          <div class="form-group">
            <label>Price</label>
            <input type="text" class="form-control" name="price" placeholder="Type here" id="price">
            <div id="priceErr" class="forml" style="color: red;"></div>
          </div>
          <div class="form-group">
            <label>previous price</label>
            <input type="text" class="form-control" name="previousPrice" placeholder="Type here" id="store_id">
            <div id="previousPriceErr" class="forml" style="color: red;"></div>
          </div>
          <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" rows="4" name="description" placeholder="Type here"
              id="description"></textarea>
            <div id="descriptionErr" class="forml" style="color: red;"></div>
          </div>

          <div class="form-group">
            <label>Product Images</label>
            <div class="row">
              <% for(let i=1; i < 4;i++){%>
                <div class="col-lg-12 col-md-12 mb-3 rounded-image-preview">
                  <label for="imageInput<%= i %>" class="image-label">Images <%=i%>
                      <div class="rounded-image-preview">
                        <img id="imagePreview<%=i%>" alt="Preview">
                      </div>
                      <input name="images" type="file" accept="image/*"  placeholder="Add image"
                        onchange="previewImage(this,'imagePreview<%= i %>')">
                  </label>
                </div>
                <% } %>
            </div>
          </div>

          <div class="form-group mt-3">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="/admin/products" class="btn btn-primary">
              <span class="text">Back</span>
            </a>
          </div>
        </form>
      </div>

    </section>
    </div>
    <%- include('../layouts/admin/footer.ejs') -%>


      <!-- image zoom mouseover -->
      <script>
        function previewImage(input, Imageid) {
          const preview = document.getElementById(Imageid)
          const files = input.files[0];
          if (files) {
            const reader = new FileReader();
            reader.onload = function (e) {
              preview.src = e.target.result
            }
            reader.readAsDataURL(files)
          } else {
            preview.src = '/assets/images/add Image.jpg';
          }
        }
      </script>

      <script>
        function validate() {
          let proname = document.getElementById('product_title');
          // let pronameErr = document.getElementById('pronameErr');
          let quantity = document.getElementById('quantity');
          let price = document.getElementById('price');
          let previousprice = document.getElementById('previousPrice');
          let description = document.getElementById('description');
          let category = document.getElementById('category'); // Add this line

          // let cateErr = document.getElementById('cateErr'); // Add this line

          if (proname.value.trim() === '') {
            proname.style.border = 'solid 1px red';
            pronameErr.textContent = "must give product name";
            setTimeout(function () {
              proname.style.border = '';
              pronameErr.textContent = '';
            }, 4000);
            return false;
          } else if (category.value.trim() === '') {
            category.style.border = 'solid 1px red';
            cateErr.textContent = "must give category name";
            setTimeout(function () {
              category.style.border = '';
              cateErr.textContent = '';
            }, 4000);
            return false;
          } else if (quantity.value.trim() === '' || Number(quantity.value) <= 0 || isNaN(quantity.value)) {
            quantity.style.border = 'solid 1px red';
            quantityErr.textContent = "quantity must be more than 0";
            setTimeout(function () {
              quantity.style.border = '';
              quantityErr.textContent = '';
            }, 4000);
            return false;
          } else if (price.value.trim() === '' || Number(price.value) <= 0 || isNaN(price.value)) {
            price.style.border = 'solid 1px red';
            priceErr.textContent = "price must be more than 0";
            setTimeout(function () {
              price.style.border = '';
              priceErr.textContent = '';
            }, 4000);
            return false;
          } else if (previousprice.value.trim() === '' || Number(previousprice.value) <= 0 || isNaN(previousprice.value)) {
            previousprice.style.border = 'solid 1px red';
            previouspriceErr.textContent = "give here previous price";
            setTimeout(function () {
              previousprice.style.border = '';
              previouspriceErr.textContent = '';
            }, 4000);
            return false;
          } else if (description.value.trim() === '' || description.value.trim().length <= 20) {
            description.style.border = 'solid 1px red';
            descriptionErr.textContent = "Description must be more than 20 letters";
            setTimeout(function () {
              description.style.border = '';
              descriptionErr.textContent = '';
            }, 4000);
            return false;
          } else if (!image.files[0] || !image.files[1] || !image.files[2]) {
            image.style.border = 'solid 1px red';
            setTimeout(() => {

              imageInput.style.border = '';
            }, 4000)
            return false;
          } else {
            true;
          }
        }


      </script>