<%- include('../layouts/admin/header.ejs') -%>

  <div class="screen-overlay"></div>
  <aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
      <a class="brand-wrap">
        <img style="width: 50px;" class="ms-2" src="/img/logoleo.jpg" alt="" />
      </a>
      <div>
        <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
      </div>
    </div>

    <%- include('../partials/sidenav.ejs') %>
  </aside>
  <main class="main-wrap">
    <header class="main-header navbar">
      <div class="col-search">
      </div>
      <div class="col-nav">
        <a href="/admin/logout"><i class="btn btn-dark ms-3 rounded-pill">Logout</i></a>
        <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i
            class="material-icons md-apps"></i></button>
        <ul class="nav">

          <li class="dropdown nav-item">
            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false">
              <img class="img-xs rounded-circle" src="/imgs/people/avatar-2.png" alt="User" /></a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">

              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-danger" href=""><i class="material-icons md-exit_to_app"></i>Logout</a>
            </div>
          </li>
        </ul>
      </div>

    </header>
    <div class="container-fluid" style="margin-top: 30px;">

      <div class="row d-flex justify-content-end">
        <div class="col-md-2">
          <button type="button" class="btn btn-primary" onclick="toggleForm()">Add Offers</button>
        </div>
      </div>

      <form id="addOfferForm" style="display: none;">
        <div>
          <h4 class="fw-bold text-dark mb-4">Add Offer</h4>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6" style="margin-bottom: 16px;">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title" name="title" required>
          </div>
          <div class="form-group col-md-6" style="margin-bottom: 16px;">
            <label for="description">Description:</label>
            <textarea class="form-control" id="description" name="description" required></textarea>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6" style="margin-bottom: 16px;">
            <label for="discountAmount">Discount Amount:</label>
            <input type="number" class="form-control" id="discountAmount" name="discountAmount" value="0" min="0"
              required>
          </div>

          <div class="form-group col-md-6" style="margin-bottom: 16px;">
            <label for="discountType">Discount Type:</label>
            <select class="form-control" id="discountType" name="discountType" required>
              <option value="fixed">Fixed Amount</option>
              <option value="percentage">Percentage</option>

            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6" style="margin-bottom: 16px;">
            <label for="startDate">Start Date:</label>
            <input type="date" class="form-control" id="startDate" name="startDate" required>
          </div>
          <div class="form-group col-md-6" style="margin-bottom: 16px;">
            <label for="endDate">End Date:</label>
            <input type="date" class="form-control" id="endDate" name="endDate" required>
          </div>
        </div>

        <div class="form-group col-md-6" style="margin-bottom: 16px;">
          <label for="usageLimit">Usage Limit:</label>
          <input type="number" class="form-control" id="usageLimit" name="usageLimit" min="0">
        </div>
        <div class="form-group col-md-6" style="margin-bottom: 16px;">
          <label for="usageCount">Usage Count:</label>
          <input type="number" class="form-control" id="usageCount" name="usageCount" value="0" min="0" readonly>
        </div>
        <div class="form-group col-md-6" style="margin-bottom: 16px;">
          <label for="active">Active:</label>
          <input type="checkbox" class="form-control" id="active" name="active" checked>
        </div>
        <div id="errorContainer" style="color: red; margin-bottom: 16px;"></div>
        <button type="button" class="btn btn-success" onclick="addOffer()"
          style="background-color: #28a745; color: white; padding: 10px 15px; border: none; border-radius: 4px; cursor: pointer;">Add
          Offer</button>
      </form>

      <script>
        function toggleForm() {
          const addCouponForm = document.getElementById('addOfferForm');
          const toggleButton = document.querySelector('.btn-primary');

          if (addCouponForm.style.display === 'none') {
            addCouponForm.style.display = 'block';
            toggleButton.textContent = 'Cancel';
          } else {
            addCouponForm.style.display = 'none';
            toggleButton.textContent = 'Add Coupons';
          }
        }
      </script>
      <h2 style="margin-top: 40px;" class="fw-bold text-dark mb-4">Existing Offer</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Discount Type</th>
            <th>Discount Amount</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>apply product</th>
            <th>apply category</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <%offer.forEach((offerr)=>{%>
            <tr>
              <td>
                <%=offerr.title%>
              </td>
              <td>
                <%=offerr.description%>
              </td>
              <td>
                <%=offerr.discountType%>
              </td>
              <td>
                <%=offerr.discountAmount%>
              </td>
              <td>
                <%=offerr.startDate%>
              </td>
              <td>
                <%=offerr.endDate%>
              </td>

              <!-- apply for product -->
              <td>
                <input type="hidden" id="productsId" value='<%= productId %>'>

                <button class="btn btn-primary apply-btn" onclick="applyOffer('<%=offerr._id%>')">apply</button>
              </td>
              <!--  apply for category -->
              <td>
                <input type="hidden" id="categoryId" value='<%= categoryId %>'>

                <button class="btn btn-primary apply-btn" onclick="applyOfferCat('<%=offerr._id%>')">apply</button>
              </td>
              <td>
                <button class="btn btn-danger delete-button" onclick="deleteOffer('<%=offerr._id%>')">Delete</button>
                <a class="btn"
                onclick="editOffer('<%=offerr._id%>','  <%=offerr.title%>','  <%=offerr.description%>',' <%=offerr.discountType%>','<%=offerr.discountAmount%>','   <%=offerr.startDate%>',' <%=offerr.endDate%>')">
                <i class="fas fa-edit fa-lg mx-1"></i>
              </a>
              </td>
            </tr>
            <%})%>
        </tbody>
      </table>
    </div>


    <!-- edit offer modal -->
    <div id="customModal" class="custom-modal bg-light" style="display:none;">
      <div class="custom-modal-content">
          <h5 class="text-center"><b>Edit Address</b></h5>
      </div>
      <div class="modal-body">
          <form id="">
              <div>
                  <h4 class="fw-bold text-dark mb-4">Edit Offer</h4>
              </div>
  
              <div class="form-row">
                  <div class="form-group col-md-6" style="margin-bottom: 16px;">
                      <label for="code">Title:</label>
                      <input type="text" class="form-control" id="Editcode" name="code" required pattern="^[a-zA-Z0-9]+$"
                          title="Coupon code can only contain letters and numbers, and spaces are not allowed">
                  </div>
                  <div class="form-group col-md-6" style="margin-bottom: 16px;">
                    <label for="discountType">Discount Type:</label>
                    <select class="form-control" id="EditdiscountType" name="discountType" required>
                      <option value="fixed">Fixed Amount</option>
                      <option value="percentage">Percentage</option>
        
                    </select>
                  </div>
              </div>
  
              <div class="form-group" style="margin-bottom: 16px;">
                  <label for="description">Description:</label>
                  <textarea class="form-control" id="Editdescription" name="description" required></textarea>
              </div>
  
              <div class="form-row">
                  <div class="form-group col-md-6" style="margin-bottom: 16px;">
                      <label for="discountAmount">Discount Amount:</label>
                      <input type="number" class="form-control" id="EditexpirationDate" name="discountAmount" value="0" min="0"
                          required>
                  </div>
  
                  <div class="form-group col-md-6" style="margin-bottom: 16px;">
                      <label for="startDate">Start Date:</label>
                      <input type="date" class="form-control" id="EditstartDate" name="startDate" required>
                  </div>
              </div>
  
              <div class="form-group col-md-6" style="margin-bottom: 16px;">
                  <label for="endDate">End Date:</label>
                  <input type="date" class="form-control" id="EditendDate" name="endDate" required>
              </div>
  
              <div id="errorContainer" style="color: red; margin-bottom: 16px;">
                  <button type="button" class="btn btn-success" onclick="updateOffer(document.getElementById('EditcouponId').value)"
                      style="background-color: #28a745; color: white; padding: 10px 15px; border: none; border-radius: 4px; cursor: pointer;">Edit
                      Offer</button>
              </div>
  
              <input type="hidden" id="EditcouponId" value="">
          </form>
      </div>
  </div>
  

    <script>
      function addOffer() {
        const title = document.getElementById('title').value
        const description = document.getElementById('description').value
        const discountType = document.getElementById('discountType').value
        const discountAmount = document.getElementById('discountAmount').value
        const startDate = document.getElementById('startDate').value
        const endDate = document.getElementById('endDate').value
        const usageLimit = document.getElementById('usageLimit').value
        const usageCount = document.getElementById('usageCount').value

        if (title.trim() === '') {
          Swal.fire({
            icon: 'error',
            title: 'Enter Offer Title',
            showConfirmButton: false,
            timer: 1700
          });
          return;

        }


        if (discountType.trim() === '') {
          Swal.fire({
            icon: 'error',
            title: 'Enter discountType',
            showConfirmButton: false,
            timer: 1700
          });

          return;
        }

        if (discountAmount.trim() === '' || isNaN(discountAmount) || parseFloat(discountAmount) <= 0) {
          Swal.fire({
            icon: 'error',
            title: 'Please enter a valid discount amount.',
            showConfirmButton: false,
            timer: 1700
          });

          return;
        }

        if (startDate.trim() === '') {
          Swal.fire({
            icon: 'error',
            title: 'Enter startDate',
            showConfirmButton: false,
            timer: 1700
          });
          return;

        }

        if (endDate.trim() === '') {
          Swal.fire({
            icon: 'error',
            title: 'EnterendDate',
            showConfirmButton: false,
            timer: 1700
          });
          return;

        }

        if (usageLimit.trim() === '' || isNaN(usageLimit) || parseInt(usageLimit) < 0) {
          Swal.fire({
            icon: 'error',
            title: 'Enter usageLimit',
            showConfirmButton: false,
            timer: 1700
          });
          return;

        }

        if (usageCount.trim() === '' || isNaN(usageCount) || parseInt(usageCount) < 0) {
          Swal.fire({
            icon: 'error',
            title: 'Enter Offer usage ',
            showConfirmButton: false,
            timer: 1700
          });
          return;

        }

        const data = {
          title: title,
          description: description,
          discountType: discountType,
          discountAmount: discountAmount,
          startDate: startDate,
          endDate: endDate,
          usageLimit: usageLimit,
          usageCount: usageCount
        }

        fetch('/admin/addOffer', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data),
        }).then((response) => {
          if (!response.ok) {
            throw new Error('Response is not Ok')
          }
          return response.json()
        }).then(() => {
          window.location.reload()
        })
          .catch((error) => {
            console.log(error);
          })


      }
      // apply offer to product
      function applyOffer(offerId) {
        const productIdElement = document.getElementById('productsId');
        const productId = productIdElement ? productIdElement.value : null;

        if (productId !== null) {
          const data = {
            offerId: offerId,
            productId: productId,
          };
          console.log(data);

          fetch('/admin/applyOffer', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
          }).then((response) => {
            if (response.ok) {
              Swal.fire({
                icon: 'success',
                title: 'Offer applied successfully',
                showConfirmButton: false,
                timer: 1500
              });
            } else {
              console.log("Can't apply offer.");
            }
          }).catch(error => console.log(error));
        } else {
          console.log("Product ID not found.");
        }
      }
      // for categoryapply 
      function applyOfferCat(offerId) {

        let categoryId = document.getElementById('categoryId').value
        console.log(categoryId);

        const data = {
          offerId: offerId,
          categoryId: categoryId,
        }
        console.log(data);
        fetch('/admin/applyOfferCat', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          }, body: JSON.stringify(data)
        }).then((response) => {
          if (response.ok) {
            Swal.fire({
              icon: 'success',
              title: 'Offer applied successfully',
              showConfirmButton: false,
              timer: 1500
            })
          } else {
            console.log("Can't applied");
          }
        }).catch(error => console.log(error))
      }



      // delete offer

      function deleteOffer(offerId) {
        const data = {
          offerId: offerId
        }
        console.log(offerId);
        fetch('/admin/deletOffer', {
          method: 'post',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        }).then((response) => {
          if (response.ok) {
            window.location.reload()
          }
        }).catch(error => {
          console.log(error);
        })
      }

      // edit Offer
      function editOffer(offerId, title, description, discountType, discountAmount, startDate, endDate) {
        console.log("offer",offerId);
          console.log(offerId,title ,description, discountType, discountAmount, startDate, endDate, );
          document.getElementById('EditcouponId').value = offerId
          document.getElementById('customModal').style.display = 'block';
          document.getElementById('Editcode').value = title
          document.getElementById('EditdiscountType').value =discountType;
          document.getElementById('Editdescription').value =  description;
          document.getElementById('EditexpirationDate').value = discountAmount;
          document.getElementById('EditstartDate').value = startDate;
          document.getElementById('EditendDate').value = endDate;


        }

        function updateOffer() {
console.log("fucntionl kerriii");
const title = document.getElementById('Editcode').value;
const discountType = document.getElementById('EditdiscountType').value;
const description = document.getElementById('Editdescription').value 
const discountAmount = document.getElementById('EditexpirationDate').value
const startDate = document.getElementById('EditstartDate').value;
const endDate = document.getElementById('EditendDate').value

// Example of accessing hidden input field
const offerId = document.getElementById('EditcouponId').value;
const data = {
  title: title,
  description: description,
  discountType: discountType,
  discountAmount: discountAmount,
  startDate: startDate,
  endDate: endDate,
  offerId: offerId
}
console.log("data",data);

fetch('/admin/updateOffer', {
  method: 'POST',
  headers: {
    'Content-Type': "application/json"
  }, body: JSON.stringify(data)
}).then((response) => {
  if (response.ok) {
    Swal.fire({
      icon: 'success',
      title: 'Offer updated successfully',
      showConfirmButton: false,
      timer: 1500
    }).then(() => {
      window.location.reload()
    })
  }
})
}


    </script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <%- include('../layouts/admin/footer.ejs') -%>