<%- include('../layouts/user/header.ejs') -%>
  <style>
    #customModal {
      width: 40rem;
      margin-left: 200px;
      margin-top: 20px;
    }
  </style>


<header class="header">
  <div class="header__top">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 col-md-7">
                  <div class="header__top__left">
                      <p></p>
                  </div>
              </div>
              <div class="col-lg-6 col-md-5">
                  <div class="header__top__right">
                      <div class="header__top__links">
                          <a href="/register">Sign in</a>
                          <a href="#">FAQs</a>
                      </div>
                      <div class="header__top__hover">
                          <span>Usd <i class="arrow_carrot-down"></i></span>
                          <ul>
                              <li>USD</li>
                              <li>EUR</li>
                              <li>USD</li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-3" style="height: 50px;">
              <div class="header__logo">
                  <a href="/"><img src="/img/logoleo.jpg" style="width: 80px;" alt=""></a>
              </div>
          </div>
          <div class="col-lg-6 col-md-6">
              <nav class="header__menu mobile-menu">
                  <ul>
                      <li><a href="">Home</a></li>
                      <li><a href="/productsshop ">Shop</a></li>
                      <li><a href="#">Pages</a>
                          <ul class="dropdown">
                              <li><a href="/about">
                                about
                          </ul>
                      </li>
                      
                      <li><a href="/contact">Contacts</a></li>
                  </ul>
              </nav>
          </div>
          <div class="col-lg-3 col-md-3">
              <div class="header__nav__option">
                  <div class="dropdown">
                      <a class="dropdown-toggle" href="#" role="button" id="userDropdown"
                          data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <% if(locals.user){ %>
                              <img style="width: 17px;" src="/img/icon/person.png" alt="User Profile">
                              <a href="/Cartpage"><img src="/img/icon/cart.png" alt=""> <span></span></a>
                              <% } else { %>
                                  <img style="width: 17px;" src="/img/icon/person.png" alt="">
                                  <% } %>
                      </a>

                      <div class="dropdown-menu" aria-labelledby="userDropdown">
                          <% if(locals.user){ %>
                              <a class="dropdown-item" href="/Userprofile">My Profile</a>
                              <a class="dropdown-item" href="/logout">Logout</a>
                              <% } else { %>
                                  <a class="dropdown-item" href="/login">Login</a>
                                  <a class="dropdown-item" href="/register">Sign up</a>
                                  <% } %>
                      </div>

                      <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
                      <% if(locals.user){ %>
                        <a href="/wishlist"><img src="img/icon/heart.png" alt=""></a>
                        <% } %>
                  </div>
              </div>
          </div>

      </div>
      <div class="canvas__open"><i class="fa fa-bars"></i></div>
  </div>
</header>

  <section style="background-color: #eee;">
    <style>
      .containerrr {
        display: flex;
        flex-wrap: wrap;
      }

      .sidebarrr {
        background-color: white;
      }

      .sidebarrr {
        flex: 1;
        min-width: 20%;
        max-width: 25%;
        padding: 20px;


        min-height: 100vh;
      }

      .main-contenttt {
        flex: 3;
        padding: 20px;
      }

      hr {
        color: black;
      }

      .user-headerrr {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
      }

      .user-photooo {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin-right: 10px;
        /* Placeholder background color for the user photo */
        background-color: #ddd;
      }

      .user-nameee {
        font-size: .6rem;
        font-weight: bold;
        color: black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
      }

      .menu-headinggg {
        font-size: .7rem;
        font-weight: bold;
        margin-bottom: 10px;
        color: rgba(127, 127, 127, 1);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
      }

      .menu-itemmm {
        margin-bottom: 10px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
      }

      .menu-itemmm a {
        color: black;
        text-decoration: none;
        font-size: .9rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
      }

      .menu-itemmm.selected {
        background-color: #f0f0f0;
        border-radius: 5px;
      }

      /* its for dropdown in address  */
      .droppdown {
        position: absolute;
        display: inline-block;
        left: 97%;
      }

      .droppdown-content {
        left: -107px;
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 30rem;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;

      }

      .droppdown:hover .droppdown-content {
        display: block;
      }

      .droppdown-content .btn {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;

      }

      .droppdown-content .btn:hover {
        background-color: #f1f1f1;
        color: blue;
      }

      .addaddresbtn {
        font-weight: bolder;
        letter-spacing: .1rem;
      }

      /* end dropdown  */
      .addaddresbtn {
        font-weight: bolder;
        letter-spacing: .1rem;
      }

      .cardaddress {
        color: rgb(7, 7, 7);
        font-family: monospace;
      }

      @media screen and (max-width: 600px) {
        .menu-itemmm a {
          color: black;
          text-decoration: none;
          font-size: .5rem;
        }

        .droppdown-content {
          left: -157px;
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-width: 30rem;
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
          z-index: 1;

        }

        .main-contenttt .breadcrumb {
          font-size: .6rem;
        }

      }
    </style>
    </head>

    <body>


      <div class="containerrr">
        <!-- Sidebar -->
        <div class="sidebarrr" id="sidebar">

          <div class="user-headerrr">
            <div class="user-photooo"></div>
            <div class="user-nameee">
              Sahaddd
            </div>
          </div>

          <!-- Sidebar Menu -->
          <div class="menu-headinggg">General</div>

          <div class="menu-itemmm"><a href="/manageAddress" aria-current="page" class="bg-light active">Manage
              Address</a></div>
          <hr>

          <div class="menu-itemmm"><a href="/myOrder">Orders</a></div>
          <hr>

          <div class="menu-itemmm"><a href="#">Wishlist</a></div>
          <hr>

          <div class="menu-itemmm"><a href="/wallet">Wallet</a></div>
          <hr>


          <div class="menu-headinggg">Legal</div>
          <div class="menu-itemmm"><a href="#">Terms of Use</a></div>
          <hr>
          <div class="menu-itemmm"><a href="#">Privacy Policy</a></div>
          <hr>

          <div class="menu-headinggg">Personal</div>
          <div class="menu-itemmm"><a href="#">Report a Bug</a></div>
          <hr>
          <div class="menu-itemmm"><a href="/">Logout</a></div>
          <hr>

        </div>


        <div class="container py-5">
          <div class="row">
            <div class="col">
              <nav aria-label="breadcrumb" class=" rounded-3 p-3 mb-4 ">
                <ol class="breadcrumb mb-0">
                  <li class="breadcrumb-item"><a href="/ " style="color: black;">Home</a></li>

                  <li class="breadcrumb-item active" aria-current="page"><a href="/Userprofile" style="color: black;">
                      User Profile</a></li>

                  <li class="breadcrumb-item active" aria-current="page"> <a href="/manageAddress"
                      style="color: black;"> Manage address</a>
                  </li>
                </ol>
              </nav>
            </div>
          </div>

          <div class="container d-flex justify-content-start">
            <div class="mt-2">
              <a data-toggle="modal" data-target="#addressModal" class="btn btn-dark  mb-3 text-white addaddresbtn"><i
                  class="material-icons md-plus"></i> Add new
                Adress</a>
            </div>

          </div>

          <div class=" card-body w-50" id="reload" style="background-color: #ffffff;">
            <div class="card-text">
              <h1 style="font-weight: bold;">User Addresses</h1>
              <% address.forEach(function(address,i){%>
                <div class="card-text mt-3 d-flex justify-content-between">
                  <%= address.name %>
                    <div>
                      <a class="text-danger btn" onclick="deletaddress('<%= user._id %>','<%=address._id %>')"><i
                          class="fas fa-trash fa-lg mx-1"></i></a>
                      <a class="btn"
                        onclick="editaddress('<%= address._id %>','<%= address.name %>','<%= address.addressline %>','<%= address.city %>','<%= address.state%>','<%= address.pincode %>','<%= address.phone %>')">
                        <i class="fas fa-edit fa-lg mx-1"></i>
                      </a>
                    </div>
                </div>
                <div class="card-text mt-3">
                  <%= address.addressline %>,<%= address.state %> ,<%= address.city %>,<%= address.phone %>
                </div>

                <%})%>

            </div>
          </div>


          <!-- edit address modal  -->

          <div class="modal fade" id="addressModal" tabindex="-1" role="dialog" aria-labelledby="addressModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addressModalLabel"><b>Add New Address</b></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div class="modal-body">
                  <!-- Your existing form code goes here -->


                  <form method="post" action="" id="reloadAreaAdd" onsubmit="validInput()">
                    <div class="row mb-4">
                      <div class="col">
                        <div class="form-outline">
                          <label class="form-label">Full name</label>
                          <input type="text" id="fullname" name="Fullname" class="form-control" />
                        </div>
                      </div>
                    </div>

                    <div class="form-outline mb-4">
                      <label class="form-label">Address line 1</label>
                      <input type="text" id="addressline" name="Addressline" class="form-control" />
                    </div>

                    <div class="form-outline mb-4">
                      <label class="form-label">City</label>
                      <input type="text" id="city" name="City" class="form-control" />
                    </div>

                    <div class="form-group">
                      <label for="state" class="form-label">State</label>
                      <select class="form-select" id="state" name="State" required>
                        <option value="" selected disabled>Select State</option>
                        <option value="Kerala">Kerala</option>
                        <option value="Tamilnadu">Tamilnadu</option>
                        <option value="Karnataka">Karnataka</option>
                        <option value="Maharashtra">Maharashtra</option>
                      </select>
                    </div>

                    <div class="form-outline mb-4">
                      <label class="form-label" for="postcode">Postcode</label>
                      <input type="text" id="postcode" name="Postcode" class="form-control" />

                    </div>
                    <div class="form-outline mb-4">
                      <label class="form-label" for="phone">Phone</label>
                      <input type="number" id="phone" name="Phone" class="form-control" />
                    </div>

                    <div class="modal-footer">

                      <button type="button" class="btn btn-dark  d-block w-100 my-4" data-toggle="modal"
                        data-target="#addressModal" onclick="return Addaddress('<%= user.email %>')">
                        <% console.log(user.email) %>
                          Save
                      </button>
                  </form>
                </div>
              </div>

            </div>
          </div>
        </div>


        <div id="customModal" class="custom-modal bg-light" style="display:none;">
          <div class="custom-modal-content">
            <h5 class="text-center" id=""><b>Edit Address</b></h5>
          </div>
          <div class="modal-body">
            <!-- Your existing form code goes here -->
            <form method="post">
              <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                    <label class="form-label">Full name</label>
                    <input type="text" id="Editfullname" name="Fullname" class="form-control" />
                  </div>
                </div>
              </div>

              <div class="form-outline mb-4">
                <label class="form-label">Address line 1</label>
                <input type="text" id="Editaddressline" name="Addressline" class="form-control" />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label">City</label>
                <input type="text" id="Editcity" name="City" class="form-control" />
              </div>

              <div class="form-group">
                <label for="state" class="form-label">State</label>
                <select class="form-select" id="Editstate" name="State" required>
                  <option value="" selected disabled>Select State</option>
                  <option value="Kerala">Kerala</option>
                  <option value="Tamilnadu">Tamilnadu</option>
                  <option value="Karnataka">Karnataka</option>
                  <option value="Maharashtra">Maharashtra</option>
                </select>
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="postcode">Postcode</label>
                <input type="text" id="Editpostcode" name="Postcode" class="form-control" />

              </div>
              <div class="form-outline mb-4">
                <label class="form-label" for="phone">Phone</label>
                <input type="number" id="Editphone" name="Phone" class="form-control" />
              </div>

              <div class="modal-footer">

                <%console.log(address)%>
                  <input type="hidden" id="addressId" value="<%= address._id %>">
                  <button type="button" class="btn btn-dark  d-block my-4"
                    onclick="updateadress(document.getElementById('addressId').value)">
                    Save edit
                  </button>
                  <button type="button" id="closebtn" class="btn btn-dark  d-block my-4" onclick="clearform()">
                    close
                  </button>

            </form>
          </div>
        </div>

      </div>


      <%- include('../layouts/user/footer.ejs') -%>


        <!-- ================== Add Address ==================== -->
        <script>



          // ======================= validation add ================= \\
            function trimvalue(elementId) {

              return document.getElementById(elementId).value.trim()

            }

            function validInput() {
              const fields = [
                'fullname',
                'addressline',
                'city',
                'state',
                'postcode',
                'phone'
              ];

              for (let fieldId of fields) {
                const value = trimvalue(fieldId)
                if (value === '') {
                  Swal.fire({
                    title: 'error',
                    text: `please enter ${value === 'postcode' ? 'a valid' : 'a '} ${fieldId.replace(/([A-z])/g, ' $1').toLowerCase()}`,
                    icon: 'error'
                  })
                  return false
                }

                if (fieldId == 'phone' && value.length !== 10) {
                  Swal.fire({
                    title: 'error',
                    text: 'Please enter a 10-digit phone number containing only numeric characters.',
                    icon: 'error'
                  });
                  return false;
                }

                if (fieldId === 'postcode' && !/^\d{6}$/.test(value) || value == '') {
                  Swal.fire({
                    title: 'error',
                    text: `please enter a valid 6-digit postcode`,
                    icon: 'error'
                  })
                  return false
                }

                if (fieldId === 'city' && value == '') {
                  Swal.fire({
                    title: 'error',
                    text: `Enter your city`,
                    icon: 'error'
                  })
                  return false
                }

                if (fieldId === 'state' && value == '') {
                  Swal.fire({
                    title: 'error',
                    text: `Enter your state`,
                    icon: 'error'
                  })
                  return false
                }

              }
              return true

              // ===================== FUNCTION ADD ADDRESS 
            }

            function Addaddress(useremail) {
              if (validInput()) {
                const fields = [
                  { id: 'fullname', name: 'Fullname' },
                  { id: 'addressline', name: 'Addressline' },
                  { id: 'city', name: 'City' },
                  { id: 'state', name: 'State' },
                  { id: 'postcode', name: 'Postcode' },
                  { id: 'phone', name: 'Phone' }
                ];

                const phone = document.getElementById('phone').value;
                const fullname = document.getElementById('fullname').value;
                const address = document.getElementById('addressline').value;
                const city = document.getElementById('city').value;
                const state = document.getElementById('state').value;
                const postcode = document.getElementById('postcode').value;

                const data = {
                  fullname: fullname,
                  address: address,
                  city: city,
                  state: state,
                  postcode: postcode,
                  phone: phone,
                  email: useremail
                };

                Swal.fire({
                  title: 'Are you sure?',
                  icon: 'question',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: 'Yes'
                }).then((res) => {
                  if (res.isConfirmed) {
                    $.ajax({
                      method: 'POST',
                      url: '/Add-address',
                      data: JSON.stringify(data),
                      contentType: 'application/json',
                      success: function (response) {
                        if (response.add === true) {
                          Swal.fire({
                            title: 'Success',
                            icon: 'success'
                          }).then(() => {
                            $('#reloadAreaAdd').load('/Addaddress #reloadAreaAdd');
                            location.reload();
                            clearInput();
                          });
                          $('#addressModal').modal('hide');
                        } else {
                          Swal.fire({
                            icon: 'error',
                            text: 'Failed to add address, something went wrong'
                          });
                        }
                      },
                      error: function (error) {
                        console.log(error);
                      }
                    });
                  }
                });
              }
            }
          </script>

          <!-- Deleteaddress -->
          <script>
            function deletaddress(userId, addressId) {
              const data = {
                userId,
                addressId
            }
            fetch('/deletaddress', {
              method: 'DELETE',
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify(data)
            }).then((response) => {
              if (response.ok) {

                return response.json()
              }
              throw new Error('Delete request is failed')
            }).then(() => {
              Swal.fire({
                title: 'Success',
                icon: 'success',
                text: 'Address is delete successfully '
              }).then(() => {
                window.location.reload()
              })
            })
              .catch((error) => {
                Swal.fire('Error', 'Failed to deleting address', 'error')
                console.log(error);
              })
          }
        </script>

        <!-- Editing address -->
        <script>
          function editaddress(addressId, fullname, addressline, city, state, pincode, phone) {
            console.log(addressId);
            document.getElementById('addressId').value = addressId
            document.getElementById('customModal').style.display = 'block';
            document.getElementById('Editfullname').value = fullname;
            document.getElementById('Editaddressline').value = addressline;
            document.getElementById('Editcity').value = city;
            document.getElementById('Editstate').value = state;
            document.getElementById('Editpostcode').value = pincode;
            document.getElementById('Editphone').value = phone;


          }
        </script>
        <script>
          // for clear the form 
          function clearform() {
            document.getElementById('customModal').style.display = 'none';
          }
        </script>
        <!-- // for update address -->
        <script>
          function updateadress(addressId) {
            function validInput() {
              const fields = [
                'Editfullname',
                'Editaddressline',
                'Editcity',
                'Editstate',
                'Editpostcode',
                'Editphone'
              ];

              for (let fieldId of fields) {
                const value = trimvalue(fieldId)
                if (value === '') {
                  Swal.fire({
                    title: 'error',
                    text: `please enter ${value === 'postcode' ? 'a valid' : 'a '} ${fieldId.replace(/([A-z])/g, ' $1').toLowerCase()}`,
                    icon: 'error'
                  })
                  return false
                }

                if (fieldId === value.length < 10 || !/^\d+$/.test(value)) {
                  Swal.fire({
                    title: 'error',
                    text: `please enter 10 digits phone-number`,
                    icon: 'error'
                  })
                  return false
                }

                if (fieldId === 'postcode' && !/^\d{6}$/.test(value) || value == '') {
                  Swal.fire({
                    title: 'error',
                    text: `please enter a valid 6-digit postcode`,
                    icon: 'error'
                  })
                  return false
                }

                if (fieldId === 'city' && value == '') {
                  Swal.fire({
                    title: 'error',
                    text: `Enter your city`,
                    icon: 'error'
                  })
                  return false
                }

                if (fieldId === 'state' && value == '') {
                  Swal.fire({
                    title: 'error',
                    text: `Enter your state`,
                    icon: 'error'
                  })
                  return false
                }

              }
              return true

              // ===================== FUNCTION ADD ADDRESS 
            }

            console.log(addressId);
            const name = document.getElementById('Editfullname').value
            const addressline = document.getElementById('Editaddressline').value
            const city = document.getElementById('Editcity').value
            const state = document.getElementById('Editstate').value
            const pincode = document.getElementById('Editpostcode').value
            const phone = document.getElementById('Editphone').value
            if (validInput()) {

              const data = {
                name: name,
                addressline: addressline,
                city: city,
                state: state,
                pincode: pincode,
                phone: phone,
                addressId: addressId
              }

              fetch('/update-address', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                }, body: JSON.stringify(data)
              }).then((response) => {
                if (response.ok) {
                  Swal.fire({
                    icon: 'success',
                    text: 'Address updated',
                    showConfirmButtom: "ok"
                  }).then(() => {
                    window.location.reload()
                  })

                } else {
                  throw new Error('update request is failded')
                }
              })

            }
          }
        </script>

        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>