<%- include('../layouts/user/header.ejs') -%>
  <style>
    /* Style for the button */
    #retryPayment {
      background-color: #58ca1b;
      /* GB Silver color */
      color: #ffffff;
      /* Black text */
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      /* Rectangle shape */
      cursor: pointer;
      /* Center horizontally */
      align-items: center;
      /* Center vertically */
      font-weight: bold;
    }

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    a {
      text-decoration: none;

    }

    .status-checkboxes {
      margin-top: .5rem;

    }

    .status-checkboxes .form-check {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
    }

    .status-checkboxes .form-check-input {
      margin-top: 0;
      margin-right: 5px;
      /* Adjust spacing between checkbox and label */
    }

    .status-checkboxes .form-check-label {
      margin-bottom: 0;
    }
  </style>


<header class="header">
  <div class="header__top">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 col-md-7">
                  <div class="header__top__left">
                      <p></p>
                  </div>
              </div>
              <div class="col-lg-6 col-md-5">
                  <div class="header__top__right">
                      <div class="header__top__links">
                          <a href="/register">Sign in</a>
                          <a href="#">FAQs</a>
                      </div>
                      <div class="header__top__hover">
                          <span>Usd <i class="arrow_carrot-down"></i></span>
                          <ul>
                              <li>USD</li>
                              <li>EUR</li>
                              <li>USD</li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-3" style="height: 50px;">
              <div class="header__logo">
                  <a href="/"><img src="/img/logoleo.jpg" style="width: 80px;" alt=""></a>
              </div>
          </div>
          <div class="col-lg-6 col-md-6">
              <nav class="header__menu mobile-menu">
                  <ul>
                      <li><a href="">Home</a></li>
                      <li><a href="/productsshop ">Shop</a></li>
                      <li><a href="#">Pages</a>
                          <ul class="dropdown">
                              <li><a href="/about">
                                about
                          </ul>
                      </li>
                      
                      <li><a href="/contact">Contacts</a></li>
                  </ul>
              </nav>
          </div>
          <div class="col-lg-3 col-md-3">
              <div class="header__nav__option">
                  <div class="dropdown">
                      <a class="dropdown-toggle" href="#" role="button" id="userDropdown"
                          data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <% if(locals.user){ %>
                              <img style="width: 17px;" src="/img/icon/person.png" alt="User Profile">
                              <a href="/Cartpage"><img src="/img/icon/cart.png" alt=""> <span></span></a>
                              <% } else { %>
                                  <img style="width: 17px;" src="/img/icon/person.png" alt="">
                                  <% } %>
                      </a>

                      <div class="dropdown-menu" aria-labelledby="userDropdown">
                          <% if(locals.user){ %>
                              <a class="dropdown-item" href="/Userprofile">My Profile</a>
                              <a class="dropdown-item" href="/logout">Logout</a>
                              <% } else { %>
                                  <a class="dropdown-item" href="/login">Login</a>
                                  <a class="dropdown-item" href="/register">Sign up</a>
                                  <% } %>
                      </div>

                      <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
                      <% if(locals.user){ %>
                        <a href="/wishlist"><img src="img/icon/heart.png" alt=""></a>
                        <% } %>
                  </div>
              </div>
          </div>

      </div>
      <div class="canvas__open"><i class="fa fa-bars"></i></div>
  </div>
</header>

  <div class="bg-body-tertiary" style=" margin:0 auto; padding: 15px 15px;">
    <!-- <div class="container-fluid"> -->
    <div class="row">
      <div class="col-md-3">
        <div
          style="padding: 16px; margin-bottom: 12px; background-color: #fff; box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);">
          <div class="d-flex" style="flex-wrap: wrap;  padding: 16px; margin-bottom: 12px;">

            <div style="display: flex; flex-grow: 1;">
              <div style=" flex-grow: 1; padding-top: 10px;padding-left: 5px; padding-right: 40px; font-weight: 900;">
                MY ORDERS
              </div>
            </div>
          </div>

        </div>
        <div
          style="padding: 16px; margin-bottom: 12px; background-color: #fff; box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);">
          <div class="d-flex" style="flex-wrap: wrap;  padding: 16px; margin-bottom: 12px;">

            <div style="display: flex; flex-grow: 1;">
              <div style=" flex-grow: 1; padding-top: 10px;padding-left: 5px; padding-right: 40px; font-weight: 900;">
                Filters
              </div>
            </div>
          </div>
          <div class="status-checkboxes">
            <div class="ms-4 mb-3  gap-2">
              <div class="form-check">
                <input class="form-check-input mt-0" type="checkbox" id="onTheWay" value="">
                <label class="form-check-label" for="onTheWay">On the way</label>
              </div>
              <div class="form-check">
                <input class="form-check-input mt-0" type="checkbox" id="delivered" value="">
                <label class="form-check-label" for="delivered">Delivered</label>
              </div>
              <div class="form-check">
                <input class="form-check-input mt-0" type="checkbox" id="cancelled" value="">
                <label class="form-check-label" for="cancelled">Cancelled</label>
              </div>
              <div class="form-check">
                <input class="form-check-input mt-0" type="checkbox" id="returned" value="">
                <label class="form-check-label" for="returned">Returned</label>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-9">
        <div class="d-flex flex-column">
          <div class="div" style="width: 85%; background-color: #fff; ">
            <div class="input-group ">
              <input type="text" class="form-control" placeholder="Recipient's username"
                aria-label="Recipient's username" aria-describedby="button-addon2">
              <button class="btn btn-dark" type="button" id="button-addon2">Search orders</button>
            </div>
          </div>


          <% if(myOrder){%>
            <% console.log(myOrder) %>
              <% myOrder.products.forEach(function(field,i){%>


                <div onclick="singleOrder('<%= field.productsId._id %>','<%= i %>','<%= myOrder._id%>')"
                  style="background-color: #fff; box-shadow: 0 2px 4px 0 rgba(0,0,0,.08); margin-top: 2rem;">
                  <div style="padding: 16px;">

                    <div class="row">

                      <div class="col-6">
                        <div class="row">
                          <div class="col-3">
                            <div class="d-flex">
                              <div style="margin: 0 auto;">
                                <img src="/img/product/sharp/<%= field.productsId.images[0] %>"
                                  style="width: 75%; height: 75%;" alt="">
                              </div>
                            </div>
                          </div>
                          <div class="col-8">
                            <div>
                              <span>
                                <%=field.productsId.name%>
                              </span>
                              <div class="d-flex">
                                <% const match=[['S', 'Small' ], ['M', 'Medium' ], ['L', "Large" ], ['XL', 'Exel' ],
                                  ['XXL', 'Double exel' ]] %>
                                  <% const size=match.find((size)=> (size[0] === field.sizes)) %>
                                    <p class="me-2"><span></span></p>
                                    <p><span>Size: </span>
                                      <%= size[1] %>
                                    </p>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                      <div class="col-2">
                        ₹<%= field.totalPrice %>

                      </div>
                      <div class="col-4">
                        <div class="d-flex" style="align-items: center; ">
                          <div
                            class=" <%= field.status === 'delivered' ? 'bg-success' : ''%><%=  field.status === 'placed' ? 'border border-success' : ''  %> "
                            style="width: 10px; height: 10px;  margin-bottom: 13px; margin-right: 1rem; border-radius: 50%; border: 2px;">
                          </div>
                          <%if(order.status==='Pending' ){%>
                            <p class="text-danger"> payment pending</p>
                            <%}%>

                        </div>

                      </div>

                      <div>

                      </div>
                      <div>

                      </div>

                    </div>

                  </div>

                </div>


                <%})%>

                  <%}else{%>
                    <div style="background-color: #111111;">
                      <p style="color: #fff;">No order found</p>
                    </div>


                    <%}%>




        </div>
        <%if(myOrder.status==='Pending' ){%>
          <div class="d-flex justify-content-center mt-4">
            <button onclick="countinuePayment('<%=order._id%>')" id="retryPayment">Retry online payment</button>
          </div>
          <%}%>

      </div>

      <!-- </div> -->
    </div>
  </div>




  <script src="js/jquery-3.3.1.min.js"></script>
  <!-- <script src="js/bootstrap.min.js"></script> -->
  <script src="js/jquery.nice-select.min.js"></script>
  <script src="js/jquery.nicescroll.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/jquery.slicknav.js"></script>
  <script src="js/mixitup.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/main.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <%- include('../layouts/user/footer.ejs') -%>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
      function singleOrder(productId, index, orderId) {

        console.log(productId, index, orderId)
        location.href = `/single-product?productId=${productId}&index=${index}&orderId=${orderId}`

      }

      // countine Payment
      function countinuePayment(id) {
        event.preventDefault()
        fetch('/countinuePayment', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ orderId: id })
        }).then((response) => {
          return response.json(); // Parse the response JSON
        }).then((data) => {
          console.log(data.order);
          if (data.order) {
            razorPay(data.order); // Access the order from the parsed JSON
          } else {
            console.log("last else here");
          }
        }).catch((error) => {
          console.error('Error:', error);
        });
      }

      document.getElementById('retryPayment').addEventListener('click', function () {
        razorPay(order)
      })
      function razorPay(order) {
        try {
          var options = {
            key: "rzp_test_fB02vUjG7B86w1", // Enter the Key ID generated from the Dashboard
            amount: order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            currency: "INR",
            name: "LEO fashion", //your business name
            description: "Test Transaction",
            image: "/img/logoleo.jpg",
            order_id: order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            handler: (response) => {
              countinueVerifyPayment(response, order);
            },
            prefill: {
              //We recommend using the prefill parameter to auto-fill customer's contact information especially their phone number
              name: "LEO fashion", //your customer's name
              email: "muhammadsahad2022@gmail.com",
              contact: "9995762762", //Provide the customer's phone number for better conversion rates
            },
            notes: {
              address: "LEO fashion",
            },
            theme: {
              color: "#000000",
            },
          };

          var rzp1 = new Razorpay(options);

          rzp1.on("payment.failed", () => {
            window.location.href = "/myOrder";
          });

          rzp1.open();



        } catch (error) {
          console.log(error);
        }
      }

      // countinueVerifyPayment
      function countinueVerifyPayment(payment, order) {
        try {
          console.log("ajaxil vannu");
          $.ajax({
            url: "/CountinueVerify-payment",
            method: "POST",
            data: {
              payment,
              order,
            },
            success: function (response) {
              if (response.PaymentSuccess) {
                window.location.href = "/orderSuccessPage";
              } else {
                Swal.fire({
                  icon: 'error',
                  title: 'Your payment is failed',
                  showConfirmButton: false
                })
              }
            },
          });
        } catch (err) {
          console.log(err);
        }
      }


    </script>