<%- include('../layouts/user/header.ejs') -%>


  <section style="background-color: #eee;">
    <style>

.error-border {
  border: solid 1px red;
}

      .containerrr {
        display: flex;
        flex-wrap: wrap;
      }

      .sidebarrr {
        background-color: white;
      }

      .sidebarrr {
        flex: 1;
        min-width: 20%;
        max-width: 25%;
        padding: 20px;


        min-height: 100vh;
      }

      .main-contenttt {
        flex: 3;
        padding: 20px;
      }

      hr {
        color: black;
      }

      .user-headerrr {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
      }

      .user-photooo {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin-right: 10px;
        /* Placeholder background color for the user photo */
        background-color: #ddd;
      }

      .user-nameee {
        font-size: .6rem;
        font-weight: bold;
        color: black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
      }

      .menu-headinggg {
        font-size: .7rem;
        font-weight: bold;
        margin-bottom: 10px;
        color: rgba(127, 127, 127, 1);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
      }

      .menu-itemmm {
        margin-bottom: 10px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
      }

      .menu-itemmm a {
        color: black;
        text-decoration: none;
        font-size: .9rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
      }

      .menu-itemmm.selected {
        background-color: #f0f0f0;
        border-radius: 5px;
      }

      /* its for dropdown in address  */
      .droppdown {
        position: absolute;
        display: inline-block;
        left: 97%;
      }

      .droppdown-content {
        left: -107px;
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 30rem;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;

      }

      .droppdown:hover .droppdown-content {
        display: block;
      }

      .droppdown-content .btn {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;

      }

      .droppdown-content .btn:hover {
        background-color: #f1f1f1;
        color: blue;
      }

      /* end dropdown  */
      .addaddresbtn {
        font-weight: bolder;
        letter-spacing: .1rem;
      }

      .cardaddress {
        color: rgb(7, 7, 7);
        font-family: monospace;
      }

      @media screen and (max-width: 600px) {
        .menu-itemmm a {
          color: black;
          text-decoration: none;
          font-size: .5rem;
        }

        .droppdown-content {
          left: -157px;
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-width: 30rem;
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
          z-index: 1;

        }

        .main-contenttt .breadcrumb {
          font-size: .6rem;
        }

        .btn-rectangular {
          width: auto;
          /* Reset the width to 'auto' for rectangular shape */
          padding: 0.5rem 1.5rem;
          /* Adjust padding as needed for the rectangular shape */
        }

        .btn-squared {
          border-radius: 0;
          /* Set border radius to 0 for squared-off borders */
        }

      }
    </style>




    <header class="header">
      <div class="header__top">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-7">
              <div class="header__top__left">
                <p></p>
              </div>
            </div>
            <div class="col-lg-6 col-md-5">
              <div class="header__top__right">
                <div class="header__top__links">
                  <a href="#">Sign in</a>
                  <a href="#">FAQs</a>
                </div>
                <div class="header__top__hover">
                  <span>Usd <i class="arrow_carrot-down"></i></span>
                  <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-3" style="height: 50px;">
            <div class="header__logo">
              <a href="/"><img src="/img/logoleo.jpg" style="width: 80px;" alt=""></a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <nav class="header__menu mobile-menu">
              <ul>
                <li class="active"><a href="">Home</a></li>
                <li><a href="/productsshop ">Shop</a></li>
                <li><a href="#">Pages</a>
                  <ul class="dropdown">
                    <li><a href="">About Us</a></li>
                    <li><a href="">Shop Details</a></li>
                    <li><a href="">Shopping Cart</a></li>
                    <li><a href="">Check Out</a></li>
                    <li><a href="">Blog Details</a></li>
                  </ul>
                </li>
                <li><a href="">Blog</a></li>
                <li><a href="">Contacts</a></li>
              </ul>
            </nav>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="header__nav__option">
              <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" id="userDropdown" data-bs-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <% if(locals.user){ %>
                    <img style="width: 17px;" src="/img/icon/person.png" alt="User Profile">
                    <% } else { %>
                      <img style="width: 17px;" src="/img/icon/person.png" alt="">
                      <% } %>
                </a>
                <div class="dropdown-menu" aria-labelledby="userDropdown">
                  <% if(locals.user){ %>
                    <a class="dropdown-item" href="/Userprofile">My Profile</a>
                    <a class="dropdown-item" href="/logout">Logout</a>
                    <% } else { %>
                      <a class="dropdown-item" href="/login">Login</a>
                      <a class="dropdown-item" href="/register">Sign up</a>
                      <% } %>
                </div>

                <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
                <a href="#"><img src="img/icon/heart.png" alt=""></a>
              </div>
            </div>
          </div>



        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
      </div>
    </header>


    <body>


      <div class="containerrr">
        <!-- Sidebar -->
        <div class="sidebarrr" id="sidebar">

          <div class="user-headerrr">
            <div class="user-photooo"></div>
            <div class="user-nameee">
              <%= user.name %>
            </div>
          </div>

          <!-- Sidebar Menu -->
          <div class="menu-headinggg">General</div>

          <div class="menu-itemmm "><a href="/manageAddress" aria-current="page" class="bg-light active">Manage
              Address</a></div>
          <hr>

          <div class="menu-itemmm"><a href="/myOrder">Orders</a></div>
          <hr>

          <div class="menu-itemmm"><a href="#">Wishlist</a></div>
          <hr>

          <div class="menu-itemmm"><a href="/wallet">Wallet</a></div>
          <hr>


          <div class="menu-headinggg">Legal</div>
          <div class="menu-itemmm"><a href="#">Terms of Use</a></div>
          <hr>
          <div class="menu-itemmm"><a href="#">Privacy Policy</a></div>
          <hr>

          <div class="menu-headinggg">Personal</div>
          <div class="menu-itemmm"><a href="#">Report a Bug</a></div>
          <hr>
          <div class="menu-itemmm"><a href="/logout">Logout</a></div>
          <hr>

        </div>
        <div class="container py-5">
          <div class="row">
            <div class="col">
              <nav aria-label="breadcrumb" class=" rounded-3 p-3 mb-4 ">
                <ol class="breadcrumb mb-0 ">
                  <li class="breadcrumb-item"><a href="/" style="color: black;">Home</a></li>

                  <li class="breadcrumb-item active " aria-current="page"><a href="/Userprofile"
                      style="color: black;">User Profile</a></li>
                </ol>
              </nav>
            </div>
          </div>


          <h4 class="ms-4"
            style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
            personal information </h4>
          <div class="container mt-4" id="reloadArea">
            <form action="" method="post" id="profileForm" onsubmit="submitForm()">
              <div class="col-lg-8">
                <div class="card mb-4">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0 fw-bold">Name</p>
                      </div>
                      <div class="col-sm-9">
                        <input type="text" class="form-control editable" id="profile-name" name="name"
                          value="<%= locals.user.name %>" readonly>
                        <div id="updateNameErr" style="color: red;"></div>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0  fw-bold">Email</p>
                      </div>

                      <div class="col-sm-9">
                        <input type="email" class="form-control" id="profile-email" name="email"
                          value="<%= locals.user.email %>" readonly>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3  fw-bold">
                        <p class="mb-0  fw-bold">Phone</p>
                      </div>
                      <div class="col-sm-9 ">

                        <input type="tel" class="form-control editable" id="profile-phone" name="phone"
                          value="<%= locals.user.mobile %>" readonly>
                        <div id="updatePhoneErr" style="color: red;"></div>

                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <button type="button" class="btn fw-bold btn-dark text-white" onclick="return edit('<%= user.email %>')">
                Edit Profile </button>

          </div>
          </form>
          <button type="button" class="btn text-danger mt-3 text-decoration-underline" data-toggle="modal"
            data-target="#resetPasswordModal">
            Change Password
          </button>

        </div>
      </div>
  </section>


  <!-- for reset password -->
  <!-- Reset Password Modal -->
  <div class="modal" id="resetPasswordModal" tabindex="-1" role="dialog" aria-labelledby="resetPasswordModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">  
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="resetPasswordModalLabel">Change Password</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Password reset form -->
      
            <div class="form-group">
              <label for="oldPassword">Old Password</label>
              <input type="password" class="form-control" id="oldPassword" placeholder="Enter your old password"
                >
            </div>
            <div class="form-group">
              <label for="newPassword">New Password</label>
              <input type="password" class="form-control" id="newPassword" placeholder="Enter your new password"
                >
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirm Password</label>
              <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm your new password"
              >
            </div>
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-dark btn-squared" style="letter-spacing: 1px;"
                onclick="return resetpass('<%=user.email%>')">change Password</button>
            </div>
        </div>
      </div>
    </div>
  </div>


  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="footer__about">
            <div class="footer__logo">
              <a href="#"><img src="/img/logoleo.jpg" style="height: 50px;" alt="logoimg"> </a>
            </div>
            <p>The customer is at the heart of our unique business model, which includes design.</p>
            <a href="#"><img src="img/payment.png" alt=""></a>
          </div>
        </div>
        <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
          <div class="footer__widget">
            <h6>Shopping</h6>
            <ul>
              <li><a href="#">Clothing Store</a></li>
              <li><a href="#">Trending Shoes</a></li>
              <li><a href="#">Accessories</a></li>
              <li><a href="#">Sale</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6">
          <div class="footer__widget">
            <h6>Shopping</h6>
            <ul>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Payment Methods</a></li>
              <li><a href="#">Delivary</a></li>
              <li><a href="#">Return & Exchanges</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
          <div class="footer__widget">
            <h6>NewLetter</h6>
            <div class="footer__newslatter">
              <p>Be the first to know about new arrivals, look books, sales & promos!</p>
              <form action="#">
                <input type="text" placeholder="Your email">
                <button type="submit"><span class="icon_mail_alt"></span></button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="footer__copyright__text">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <p>Copyright ©
              <script>
                document.write(new Date().getFullYear());
              </script>2020
              All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                href="https://colorlib.com" target="_blank">Colorlib</a>
            </p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Email input field -->


  <!-- Name input field -->


  <!-- Phone number input field -->

  <script>
    // editing Userprofile
    function edit(userEmail) {
      const email = { email: userEmail }
      console.log("userEmail", userEmail);

      const input = document.querySelectorAll('.editable');
      input.forEach(function (input) {
        input.removeAttribute('readonly');
      });

      const editButton = document.querySelector('#profileForm button');
      editButton.textContent = 'Submit';
      editButton.setAttribute('onclick', `submitForm('${email.email}')`);


    }

    function submitForm(userEmail) {

      const updateName = document.getElementById('profile-name').value

      if (!/^\w+$/.test(updateName) ) {
        document.getElementById('profile-name').style.border = 'solid 1px red';
        updateNameErr.textContent = 'only allow letters number and underscored';
        setTimeout(() => {
          document.getElementById('profile-name').style.border = '';
          updateNameErr.textContent = '';
        }, 3000)
        return false
      }
      const updatePhone = document.getElementById('profile-phone').value
      if (!updatePhone || updatePhone.trim().length !== 10 || !/^\d+$/.test(updatePhone)) {
        document.getElementById('profile-name').style.border = 'solid 1px red';
        updatePhoneErr.textContent = 'Mobile number should be a number with 10 digits';
        setTimeout(() => {
          document.getElementById('profile-phone').style.border = '';
          updatePhoneErr.textContent = '';
        }, 3000);
        return false;
      }

      const data = {
        userEmail: userEmail,
        name: updateName,
        phone: updatePhone

      }

      Swal.fire({
        icon: 'success',
        text: 'Succesfully Update',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes'
      }).then((res) => {
        if (res.isConfirmed) {
          $.ajax({
            method: "POST",
            url: '/edit-profile',
            data: JSON.stringify(data),
            contentType: 'application/json',
            success: function (res) {
              if (res.edited == true) {
                Swal.fire({
                  icon: 'success',
                  text: 'Succesfully Update',
                }).then(() => {
                  $('#reloadArea').load('/Userprofile #reloadArea')
                  location.reload();
                })
              } else {
                Swal.fire({
                  icon: 'error',
                  text: "Failed to edit , Username is already taken"
                })
              }
            }, error: function (error) {
              console.log(error);
            }
          })
        }
      })
    }

  </script>

  <!-- Change password -->
  <script>
  function resetpass(Useremail) {
  const email = Useremail;
  const oldPassword = document.getElementById('oldPassword').value;
  const newPassword = document.getElementById('newPassword').value;
  const confirmPassword = document.getElementById('confirmPassword').value;

  // validation
  if (!/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{6,}$/.test(oldPassword)) {
    document.getElementById('oldPassword').classList.add('error-border');
      document.getElementById('oldPassword').classList.remove('error-border');
      Swal.fire({
        icon: 'error',
        text: 'Password must be at least 6 characters long and contain at least one uppercase letter, one lowercase letter, and one number',
      });
      return
    }
    

    if (newPassword !== confirmPassword) {
        Swal.fire({
          icon: 'error',
          text: 'Passwords must match',
          timer: 1500
        });
        return;
    } else {
          

          const data = {
            userEmail: email,
            OldPass: oldPassword,
            newPassword: newPassword,
            ConfirmPass: confirmPassword
          };

          console.log("> >", data);

          $.ajax({
            method: 'POST',
            url: '/change-password',
            data: JSON.stringify(data),
            contentType: 'application/json',
            success: function (response) {
              if (response.reseted) {
                Swal.fire({
                  icon: 'success',
                  text: 'Successfully updated',

                }).then(() => {
                 window.location.reload()
                  
                });
                document.getElementById('oldPassword').value = '';
                document.getElementById('newPassword').value = '';
                document.getElementById('confirmPassword').value = '';
                $('#resetPasswordModal').modal('hide');
              } else {
                Swal.fire({
                  icon: 'error',
                  text: 'You have to enter the correct old password',
                  timer: 1500
                })
                  
                
                document.getElementById('newPassword').value = '';
                document.getElementById('confirmPassword').value = '';
              }
            },
            error: function (error) {
              console.log(error);
            }
          });
        }
      }

    

  </script>

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


  <%- include('../layouts/user/footer.ejs') -%>